@charset "UTF-8";
/* Paleta de colores */
/* Dark */
/* Dark */
/* Orange */
/* Light-blue */
/* Grey */
/* White */
/* Gradientes */
/* Tamaños de fuente */
/* Grosor de fuente */
/* Esquinas redondeadas */
/* Sombreado de cajas */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: DolceVita;
  src: url(../../assets/fonts/Dolce.ttf);
}

@font-face {
  font-family: Holden;
  src: url(../../assets/fonts/Holden-Light-Italic-trial.ttf);
}

@font-face {
  font-family: NeutralFace;
  src: url(../../assets/fonts/NeutralFace.ttf);
}

@font-face {
  font-family: NeutralFaceBold;
  src: url(../../assets/fonts/NeutralFace-Bold.otf);
}

body {
  font-family: "Montserrat", sans-serif;
  color: #252525;
  font-weight: 400;
  font-size: 1rem;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

header .header-logo {
  height: 8vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-logo img {
  width: 80%;
}

header nav {
  min-height: 3vh;
  width: 100%;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  background-color: #FF6600;
  height: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav img {
  height: 60%;
}

header nav h4 {
  font-weight: 400;
  font-family: "Caveat", cursive;
  color: #FFF;
}

header nav .navBarPc {
  display: none;
}

header #turismo-dropdown {
  position: absolute;
  height: 88vh;
  width: 40vw;
  background-color: #FF6600;
  left: -40vw;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

header #turismo-dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

header #turismo-dropdown ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #turismo-dropdown ul li a {
  text-align: center;
  width: 100%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #FFF;
}

header #turismo-dropdown ul li a:hover {
  width: 35vw;
  background-color: #FFF;
  color: #FF6600;
}

header #turismo-dropdown ul hr {
  width: 35vw;
}

header #turismo-dropdown .socialMediaSideBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

header #turismo-dropdown .socialMediaSideBar a img {
  margin: 0.3rem;
  height: 1.5rem;
  -webkit-filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(295deg) brightness(96%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(295deg) brightness(96%) contrast(103%);
}

header .show {
  left: 0 !important;
}

@media (min-width: 768px) {
  #turismo-dropdown-btn {
    display: none;
  }
  header nav {
    padding: 0 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav h4 {
    font-size: 1rem;
  }
  header nav .navBarPc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
  header nav .navBarPc li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .navBarPc li .active {
    color: #FF6600;
    background-color: #FFF;
    border-radius: 5px;
  }
  header nav .navBarPc li a {
    text-align: center;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    color: #FFF;
  }
  header nav .navBarPc li a:hover {
    border-radius: 5px;
    background-color: #FFF;
    color: #252525;
  }
}

@media (min-width: 1200px) {
  header .header-logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header .header-logo img {
    width: 40%;
    margin-left: 1rem;
  }
  header .header-logo h4 {
    font-size: 1.4rem;
  }
  header nav {
    padding: 0 2rem;
  }
  header nav .navBarPc li a {
    padding: 0 0.5rem;
  }
}

@media (min-width: 1600px) {
  header .header-logo img {
    width: 25%;
    margin-left: 2rem;
  }
  header nav h4 {
    font-size: 1.6rem;
  }
  header nav .navBarPc li a {
    padding: 0 0.5rem;
  }
}

.mainInicio {
  padding-top: 12vh;
  width: 100vw;
}

.mainTurismo, .mainLugares {
  padding-top: 18vh;
  width: 100vw;
  min-height: 72vh;
}

.mainTurismo .cardTurismo__container, .mainLugares .cardTurismo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1600px) {
  .mainInicio, .mainTurismo, .mainLugares {
    padding: 18vh 300px 0 300px;
  }
}

footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .orangeBar {
  width: 100%;
  height: 16px;
  background-color: #FF6600;
}

footer .footer--container {
  color: #FFF;
  width: 100%;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer--container .socialMediaIconsList {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer--container .socialMediaIconsList a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.7rem;
  text-decoration: none;
}

footer .footer--container .socialMediaIconsList a .socialMediaIcon {
  cursor: pointer;
  width: 1.8rem;
  -webkit-filter: invert(53%) sepia(66%) saturate(5275%) hue-rotate(1deg) brightness(105%) contrast(104%);
          filter: invert(53%) sepia(66%) saturate(5275%) hue-rotate(1deg) brightness(105%) contrast(104%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer--container .socialMediaIconsList a .socialMediaIcon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .footer--container .linksHeader {
  margin: 16px 0;
  color: #FFF;
}

footer .footer--container .interestLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer--container .interestLinks div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

footer .footer--container .interestLinks div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer .footer--container .interestLinks div img {
  height: 2rem;
}

footer .footer--container .interestLinks div a {
  font-size: 1rem;
  text-decoration: none;
  color: #FF6600;
  margin: 0 .5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer--container .interestLinks p {
  color: #FFF;
}

footer .footer--container .interestLinks .linkSgo {
  margin-bottom: .15rem;
}

footer .footer--container .copyright {
  margin: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer--container .copyright p {
  font-family: "Roboto", sans-serif;
  color: gray;
  font-size: 0.8rem;
  margin: 4px 0;
}

footer .footer--container .copyright p span {
  color: #FFF;
  font-size: 1rem;
  font-family: "DolceVita", sans-serif;
  padding-left: 5px;
}

.destacados {
  width: 100%;
}

.destacados div h1 {
  z-index: 2;
  position: absolute;
  margin: 1rem 0;
  padding: 0.2rem 1rem;
  padding-right: 3rem;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: #FFF;
  background: -webkit-gradient(linear, left top, right top, from(rgba(37, 37, 37, 0.85)), color-stop(70%, rgba(37, 37, 37, 0.5)), to(rgba(37, 37, 37, 0)));
  background: linear-gradient(90deg, rgba(37, 37, 37, 0.85) 0%, rgba(37, 37, 37, 0.5) 70%, rgba(37, 37, 37, 0) 100%);
}

.destacados .carouselContainer-destacados .carousel-destacados {
  height: 78vh;
  width: 100%;
}

.destacados .carouselContainer-destacados .carousel-destacados .slide-destacados {
  height: 78vh;
  width: 100%;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 200ms opacity ease-in-out;
  transition: 200ms opacity ease-in-out;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.destacados .carouselContainer-destacados .carousel-destacados .slide-destacados img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.destacados .carouselContainer-destacados .carousel-destacados .slide-destacados .texto-destacados {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  padding: 0.5rem 1rem;
  padding-right: 3rem;
  font-family: "Inter", sans-serif;
  color: #FFF;
  background: -webkit-gradient(linear, left top, right top, from(rgba(37, 37, 37, 0.85)), color-stop(70%, rgba(37, 37, 37, 0.5)), to(rgba(37, 37, 37, 0)));
  background: linear-gradient(90deg, rgba(37, 37, 37, 0.85) 0%, rgba(37, 37, 37, 0.5) 70%, rgba(37, 37, 37, 0) 100%);
}

.destacados .carouselContainer-destacados .carousel-destacados .slide-destacados .texto-destacados h2 {
  font-weight: 700;
  font-size: 1.4rem;
}

.destacados .carouselContainer-destacados .carousel-destacados .slide-destacados .texto-destacados p {
  font-size: 0.8rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

.destacados .carouselContainer-destacados .carousel-destacados .slide-destacados button {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-30%);
          transform: translateX(-50%) translateY(-30%);
}

.instagram {
  width: 100%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instagram .instagramLink p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  color: #111111;
}

.instagram .instagramLink p img {
  width: 30px;
  -webkit-filter: invert(29%) sepia(60%) saturate(5384%) hue-rotate(325deg) brightness(95%) contrast(85%);
          filter: invert(29%) sepia(60%) saturate(5384%) hue-rotate(325deg) brightness(95%) contrast(85%);
}

.instagram .instagramLink p a {
  text-decoration: none;
  font-size: 1rem;
  color: #FF6600;
}

.instagram iframe {
  margin: 1rem 0;
  min-height: 550px;
}

.queHacer {
  width: 100%;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #252525;
}

.queHacer h3 {
  margin-top: 1rem;
  color: #FFF;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.queHacer h2 {
  color: #FF6600;
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.queHacer .carouselContainer-queHacer {
  position: relative;
  width: 100%;
  min-height: 300px;
  margin: 1.5rem 0 4rem 0;
}

.queHacer .carouselContainer-queHacer .carousel-queHacer {
  position: relative;
  width: 70%;
  margin: auto;
}

.queHacer .carouselContainer-queHacer .carousel-queHacer .slide-queHacer {
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.queHacer .carouselContainer-queHacer .carousel-queHacer .slide-queHacer img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #09F;
}

.queHacer .carouselContainer-queHacer .carousel-queHacer .slide-queHacer div {
  width: 100%;
  background-color: #FFF;
}

.queHacer .carouselContainer-queHacer .carousel-queHacer .slide-queHacer div p {
  font-family: "Inter", sans-serif;
  color: #FF6600;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
}

.queHacer .carouselContainer-queHacer .carousel-queHacer .slide-queHacer div button {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.youtube {
  margin: 1rem 0;
  background-color: #FFF;
  width: 100%;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.youtube .youtubeLink p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  color: #111111;
}

.youtube .youtubeLink p img {
  width: 30px;
  -webkit-filter: invert(15%) sepia(87%) saturate(6993%) hue-rotate(8deg) brightness(104%) contrast(124%);
          filter: invert(15%) sepia(87%) saturate(6993%) hue-rotate(8deg) brightness(104%) contrast(124%);
}

.youtube .youtubeLink p a {
  text-decoration: none;
  font-size: 1rem;
  color: #FF6600;
}

.youtube iframe {
  width: 320px;
  height: 180px;
  border-radius: 12px;
}

.youtube h5 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #FF6600;
}

.spotify {
  margin: 1rem 0;
  background-color: #FFF;
  width: 100%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.spotify .spotifyLink p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  color: #111111;
}

.spotify .spotifyLink p img {
  width: 30px;
  -webkit-filter: invert(54%) sepia(50%) saturate(666%) hue-rotate(89deg) brightness(95%) contrast(95%);
          filter: invert(54%) sepia(50%) saturate(666%) hue-rotate(89deg) brightness(95%) contrast(95%);
}

.spotify .spotifyLink p a {
  text-decoration: none;
  font-size: 1rem;
  color: #FF6600;
}

.spotify iframe {
  width: 320px;
}

.tituloTurismo {
  width: 100vw;
  min-height: 6vh;
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tituloTurismo h2 {
  font-size: 1.6rem;
  color: #FFF;
  font-family: "Holden";
}

.mainLugares img {
  width: 100vw;
}

.mainLugares h4 {
  font-size: 1.4rem;
  padding: 1rem;
  font-family: "inter", sans-serif;
  font-weight: 700;
}

.mainLugares p {
  padding: 0.2rem 1rem;
  font-family: "inter", sans-serif;
  font-size: 0.8rem;
}

.mainLugares p span {
  font-weight: 700;
}

.mainLugares h5 {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-family: "inter", sans-serif;
}

.mainLugares div button {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.leftButton {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) translateX(20%);
          transform: translateY(-50%) translateX(20%);
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.leftButton img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(46%) sepia(44%) saturate(3947%) hue-rotate(360deg) brightness(102%) contrast(103%);
          filter: invert(46%) sepia(44%) saturate(3947%) hue-rotate(360deg) brightness(102%) contrast(103%);
  opacity: 70%;
}

.rightButton {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) translateX(-20%);
          transform: translateY(-50%) translateX(-20%);
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: none;
}

.rightButton img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(46%) sepia(44%) saturate(3947%) hue-rotate(360deg) brightness(102%) contrast(103%);
          filter: invert(46%) sepia(44%) saturate(3947%) hue-rotate(360deg) brightness(102%) contrast(103%);
  opacity: 70%;
}

.primary-button {
  border: none;
  background-color: #FF6600;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0.5rem;
  cursor: pointer;
}

.primary-button:hover {
  background-color: orangered;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.primary-button:active {
  background-color: red;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.primary-button a {
  color: white;
  text-decoration: none;
}

.cardTurismo {
  width: 90vw;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.cardTurismo img {
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.cardTurismo div h3 {
  font-family: "Neutraface", sans-serif;
  margin: 0.5rem 1rem;
}

.cardTurismo div h5 {
  font-family: "Neutraface", sans-serif;
  margin: 0.5rem 1rem;
}

.cardTurismo div p {
  padding: 0.5rem 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardTurismo button {
  border: none;
  background-color: #FF6600;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0.5rem;
  cursor: pointer;
}

.cardTurismo button:hover {
  background-color: orangered;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.cardTurismo button:active {
  background-color: red;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.cardTurismo button a {
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .cardTurismo {
    width: 40vw;
    height: 35vh;
  }
  .cardTurismo img {
    height: 15vh;
  }
}

@media (min-width: 1200px) {
  .cardTurismo {
    width: 32vw;
    height: 47vh;
  }
  .cardTurismo img {
    height: 20vh;
  }
}

@media (min-width: 1600px) {
  .cardTurismo {
    width: 20vw;
    height: 37vh;
  }
  .cardTurismo img {
    height: 15vh;
  }
}

/* Botones de carouseles */
.carousel-button {
  position: absolute;
  background: none;
  border: none;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  background: none;
}

.carousel-button img {
  width: 2rem;
  height: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(46%) sepia(44%) saturate(3947%) hue-rotate(360deg) brightness(102%) contrast(103%);
          filter: invert(46%) sepia(44%) saturate(3947%) hue-rotate(360deg) brightness(102%) contrast(103%);
  opacity: 70%;
}

.carousel-button:hover, .carousel-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-button:hover img, .carousel-button:active img {
  opacity: 100%;
}

.carousel-button:active {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 0;
  -webkit-transform: translateY(-50%) translateX(10%);
          transform: translateY(-50%) translateX(10%);
}

.carousel-button.next {
  right: 0;
  -webkit-transform: translateY(-50%) translateX(-10%);
          transform: translateY(-50%) translateX(-10%);
}

/* Slides de carouseles - Estilos genericos */
.slide {
  opacity: 0;
  position: absolute;
  -webkit-transition: 200ms opacity ease-in-out;
  transition: 200ms opacity ease-in-out;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide[data-active] {
  opacity: 1;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */