
.mainInicio{
    padding-top: 12vh;
    width: 100vw;
}

.mainTurismo, .mainLugares{
    padding-top: 18vh;
    width: 100vw;
    min-height: 85vh;
    .cardTurismo__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (min-width: 1600px) {
.mainTurismo, .mainLugares{
    padding:18vh 300px 0 300px;
  }
}
