.tituloTurismo {
  width: 100vw;
  min-height: 6vh;
  background-color: $color-1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $bs-bold;
  flex-wrap: wrap;
  h2 {
    font-size: $fs-xl;
    color: $color-5;
    font-family: "Holden";
  }
}
